<!-- backend/views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>No Dues System</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="landing-container">
    <h1 class="landing-title">No Dues System</h1>
    <p class="landing-desc">
      Welcome to the digital No Dues system of our college.<br>
      Now, students can easily get their dues cleared from all teachers online.<br>
      Click the Start button to begin your No Dues process!
    </p>
    <form action="/start" method="get">
      <button class="start-btn" type="submit">Start</button>
    </form>
  </div>
</body>
</html>
